Repository LecoMV/claude-pilot: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: add memory integration strategy research
  docs/Research/MEMORY_INTEGRATION_STRATEGY.md
Due: prettier --write

feat: comprehensive audit and P0 remediation
  docs/AUDIT_REPORT_2026-01-20.md
  package-lock.json
  package.json
  src/__tests__/shared/errors.test.ts
  src/main/controllers/context/__tests__/context.controller.test.ts
  src/main/controllers/context/context.controller.ts
  src/main/controllers/mcp/elicitation.controller.ts
  src/main/controllers/mcp/index.ts
  src/main/controllers/mcp/sampling.controller.ts
  src/main/controllers/security/credentials.controller.ts
  src/main/ipc/handlers.ts
  src/main/services/inference/index.ts
  src/main/services/inference/router.ts
  src/main/services/inference/sampling.ts
  src/main/services/inference/types.ts
  src/main/services/mcp-proxy.ts
  src/main/services/mcp/elicitation.ts
  src/main/services/mcp/index.ts
  src/main/trpc/router.ts
  src/renderer/App.tsx
  src/renderer/components/common/LazyComponents.tsx
  src/renderer/components/context/ContextDashboard.tsx
  src/renderer/components/context/ContextInspector.tsx
  src/renderer/components/context/index.ts
  src/renderer/components/dashboard/Dashboard.tsx
  src/renderer/components/layout/Sidebar.tsx
  src/renderer/components/logs/LogsViewer.tsx
  src/renderer/components/mcp/MCPManager.tsx
  src/renderer/components/ollama/OllamaManager.tsx
  src/renderer/components/profiles/ProfileManager.tsx
  src/renderer/components/projects/Projects.tsx
  src/renderer/components/services/ServicesManager.tsx
  src/renderer/components/settings/Settings.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat: add security, accessibility, and ux improvements
  src/main/controllers/chat/chat.controller.ts
  src/main/controllers/integrations/ollama.controller.ts
  src/main/controllers/mcp/mcp.controller.ts
  src/main/controllers/utilities/profiles.controller.ts
  src/main/controllers/utilities/services.controller.ts
  src/main/services/memgraph.ts
  src/main/utils/path-validation.ts
  src/renderer/App.tsx
  src/renderer/components/common/Button.tsx
  src/renderer/components/common/Input.tsx
  src/renderer/components/common/Modal.tsx
  src/renderer/components/common/ShortcutsHelp.tsx
  src/renderer/components/common/index.ts
  src/renderer/components/layout/Header.tsx
  src/renderer/components/layout/Sidebar.tsx
  src/renderer/components/logs/LogsViewer.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: improve vitest stability and reduce test log spam
  src/main/controllers/sessions/session.controller.ts
  vitest.config.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore: update claude code project permissions
  .claude/settings.json
Due: prettier --write

chore: sync beads issues
  .beads/issues.jsonl
Due: none

test: fix assertions for trpcerror pattern and object return types
  src/main/controllers/security/__tests__/credentials.controller.test.ts
  src/main/controllers/utilities/__tests__/services.controller.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

bd sync: 2026-01-21 00:20:23
  .beads/issues.jsonl
Due: none

fix(tests): reduce vitest parallelism to prevent oom
  vitest.config.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

bd sync: 2026-01-21 01:17:59
  .beads/issues.jsonl
Due: none

fix: improve vitest stability and reduce test log spam
  .gitattributes
  CLAUDE.md
  src/__tests__/setup.ts
  vitest.config.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

test: fix assertions for trpcerror pattern and object return types
  src/main/controllers/chat/__tests__/chat.controller.test.ts
  src/main/controllers/integrations/__tests__/ollama.controller.test.ts
  src/main/controllers/mcp/__tests__/mcp.controller.test.ts
  src/main/controllers/utilities/__tests__/profiles.controller.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

bd sync: 2026-01-21 02:16:28
  .beads/issues.jsonl
Due: none

fix(security): update trpc to 11.8.1 for security patches
  package-lock.json
Due: prettier --write

fix(security): update electron-builder to 26.4.0
  package-lock.json
  package.json
Due: prettier --write

fix(security): add tar override to fix high severity vulnerabilities
  package-lock.json
  package.json
Due: prettier --write

bd sync: 2026-01-21 02:29:40
  .beads/issues.jsonl
Due: none

bd sync: 2026-01-21 02:29:54
  .beads/issues.jsonl
Due: none

bd sync: 2026-01-21 02:30:17
  .beads/issues.jsonl
Due: none

chore: remove dead legacy ipc handlers (5927 lines)
  .beads/issues.jsonl
  src/main/ipc/handlers.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

bd sync: 2026-01-21 09:10:39
  .beads/issues.jsonl
Due: none

fix: resolve all eslint warnings (90 → 0)
  .beads/issues.jsonl
  eslint.config.js
  src/main/services/__tests__/postgresql.test.ts
  src/main/services/postgresql.ts
  src/main/utils/error-handler.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore: document build chunk optimization
  .beads/issues.jsonl
  electron.vite.config.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore: increase test coverage threshold to 80%
  .beads/issues.jsonl
  vitest.config.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

bd sync: 2026-01-21 09:43:39
  .beads/issues.jsonl
Due: none

feat(sessions): add ghost session detector
  .beads/issues.jsonl
  src/main/controllers/sessions/session.controller.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(sessions): add storage analyzer and cleanup features
  .beads/issues.jsonl
  src/main/controllers/sessions/session.controller.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: add credential management system design
  .beads/issues.jsonl
  docs/design/CREDENTIAL_MANAGEMENT_DESIGN.md
Due: prettier --write

docs: add contributing guide and update documentation
  .beads/issues.jsonl
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
Due: prettier --write

docs: add webmin feature analysis research
  .beads/issues.jsonl
  docs/Research/WEBMIN_FEATURE_ANALYSIS.md
Due: prettier --write

bd sync: 2026-01-21 10:19:21
  .beads/issues.jsonl
Due: none

bd sync: 2026-01-21 10:20:58
  .beads/issues.jsonl
Due: none

feat: add privacy-respecting telemetry opt-in system
  src/main/controllers/utilities/settings.controller.ts
  src/main/index.ts
  src/main/services/telemetry.ts
  src/shared/types.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore: upgrade to electron 40 and electron-vite 5
  .beads/issues.jsonl
  package-lock.json
  package.json
Due: prettier --write

bd sync: 2026-01-21 11:05:48
  .beads/issues.jsonl
Due: none

bd sync: 2026-01-21 11:25:17
  .beads/issues.jsonl
Due: none

docs: add production readiness plan with 2026 best practices
  docs/PRODUCTION_READINESS_PLAN_2026.md
  docs/Research/ELECTRON_SECURITY_2026.md
Due: prettier --write

bd sync: 2026-01-21 13:55:46
  .beads/issues.jsonl
Due: none

test: fix path security validation in controller tests
  src/__tests__/setup.ts
  src/main/controllers/context/__tests__/context.controller.test.ts
  src/main/controllers/sessions/__tests__/beads.controller.test.ts
  src/main/controllers/sessions/__tests__/transcript.controller.test.ts
  src/main/services/__tests__/plans.test.ts
  src/renderer/components/common/__tests__/Accessibility.test.tsx
  vitest.config.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

Path conditions:
  eslint --fix --max-warnings=0 --no-warn-ignored: any of: *.{ts,tsx}
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.css)
