Repository LecoMV/claude-pilot: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix --max-warnings=0 --no-warn-ignored", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.css": ["prettier --write"]
}

chore: fix husky v10 deprecation warnings
  .husky/commit-msg
Due: none

chore: update github owner to lecomv
  .github/CODEOWNERS
  package.json
Due: prettier --write

test: add ipc handler security and service tests
  src/__tests__/main/ipc/memory.test.ts
  src/__tests__/main/ipc/security.test.ts
  src/__tests__/main/ipc/services.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

refactor: add IPC error handler utility for consistent logging
  src/main/ipc/handlers.ts
  src/main/utils/ipc-error-handler.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

perf: optimize transcript reverse reading for large files
  src/main/services/transcript.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: add comprehensive documentation site
  docs/API.md
  docs/ARCHITECTURE.md
  docs/FEATURES.md
  docs/README.md
  docs/ROADMAP.md
  docs/SECURITY.md
Due: prettier --write

docs: add gap analysis from gemini deep research audit
  .context/GAP_ANALYSIS.md
Due: prettier --write

feat: add cost ticker and budget controls ui
  .context/GAP_ANALYSIS.md
  src/main/ipc/handlers.ts
  src/preload/index.ts
  src/renderer/components/dashboard/CostTracker.tsx
  src/renderer/components/dashboard/Dashboard.tsx
  src/renderer/components/settings/Settings.tsx
  src/renderer/stores/budget.ts
  src/shared/types.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: add gemini security and enterprise audit report
  .context/GEMINI_SECURITY_AUDIT.md
Due: prettier --write

feat: implement p0/p1 security and crash reporting features
  package-lock.json
  package.json
  src/__tests__/renderer/components/ErrorBoundary.test.tsx
  src/__tests__/shared/errors.test.ts
  src/main/index.ts
  src/main/ipc/handlers.ts
  src/main/services/branches.ts
  src/main/services/plans.ts
  src/main/services/predictive-context.ts
  src/main/services/terminal.ts
  src/main/services/watchdog.ts
  src/preload/index.ts
  src/renderer/components/branches/BranchPanel.tsx
  src/renderer/components/common/CommandPalette.tsx
  src/renderer/components/common/ErrorBoundary.tsx
  src/renderer/components/context/SmartCompactionPanel.tsx
  src/renderer/components/dashboard/GPUPanel.tsx
  src/renderer/components/memory/GlobalSearch.tsx
  src/renderer/components/memory/PgVectorPanel.tsx
  src/renderer/components/plans/PlanPanel.tsx
  src/renderer/components/sessions/SessionManager.tsx
  src/renderer/main.tsx
  src/shared/types.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat: complete p2 security audit items (deploy-e1fc, deploy-9mtg)
  src/main/ipc/handlers.ts
  src/main/services/audit.ts
  src/preload/index.ts
  src/renderer/components/agents/AgentCanvas.tsx
  src/renderer/components/agents/AgentCanvasSVG.tsx
  src/renderer/components/agents/AgentDetails.tsx
  src/renderer/components/agents/SpawnAgentModal.tsx
  src/renderer/components/agents/StatCard.tsx
  src/renderer/components/agents/TaskAssignmentModal.tsx
  src/renderer/components/agents/TemplatesModal.tsx
  src/renderer/components/agents/constants.ts
  src/shared/types.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat: complete all P3 enhancement items from Gemini audit
  src/main/ipc/handlers.ts
  src/main/services/mcp-proxy.ts
  src/main/services/observability.ts
  src/main/services/treesitter.ts
  src/preload/index.ts
  src/renderer/components/graph/CosmographWrapper.tsx
  src/renderer/components/graph/index.ts
  src/shared/types.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve sandbox compatibility and esm/cjs import issues
  electron.vite.config.ts
  src/main/index.ts
  src/main/ipc/handlers.ts
  src/main/services/credentials.ts
  src/preload/index.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: add missing ipc channels to preload whitelist
  src/preload/index.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: improve session detection and budget settings
  src/main/ipc/handlers.ts
  src/preload/index.ts
  src/renderer/components/settings/Settings.tsx
  src/renderer/stores/budget.ts
  src/shared/types.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat: implement enterprise auto-embedding pipeline
  .context/Auto-Embedding Pipeline Architecture.md
  package-lock.json
  package.json
  src/main/ipc/handlers.ts
  src/main/services/embeddings/ContentChunker.ts
  src/main/services/embeddings/EmbeddingCache.ts
  src/main/services/embeddings/EmbeddingManager.ts
  src/main/services/embeddings/EmbeddingPipeline.ts
  src/main/services/embeddings/OllamaEmbeddingService.ts
  src/main/services/embeddings/SessionEmbeddingWorker.ts
  src/main/services/embeddings/VectorStore.ts
  src/main/services/embeddings/index.ts
  src/main/services/embeddings/types.ts
  src/preload/index.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: bundle monaco editor locally to avoid csp errors
  package-lock.json
  package.json
  src/renderer/components/common/CodeEditor.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat: add virtualization and ollama gpu detection service
  package-lock.json
  package.json
  src/main/services/ollama/gpu-detection.ts
  src/main/services/ollama/index.ts
  src/renderer/components/sessions/SessionManager.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat: implement electron-trpc spike for type-safe ipc
  package-lock.json
  package.json
  src/main/controllers/demo.controller.ts
  src/main/index.ts
  src/main/trpc/context.ts
  src/main/trpc/index.ts
  src/main/trpc/router.ts
  src/main/trpc/trpc.ts
  src/preload/index.ts
  src/renderer/components/dashboard/TRPCDemo.tsx
  src/renderer/lib/trpc/client.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: comprehensive gemini research analysis and enterprise roadmap
  .claude/CLAUDE.md
  docs/Research/Claude Pilot Audit and Enhancement Plan.md
  docs/Research/ENTERPRISE_ROADMAP.md
  docs/Research/Electron OAuth 2.0_OIDC Best Practices.md
  docs/Research/Electron Worker Thread Optimization Strategies.md
  docs/Research/Electron-tRPC Production Patterns Research.md
  docs/Research/Encrypted Vector Search for Claude Pilot.md
  docs/Research/GEMINI_RESEARCH_ANALYSIS.md
  docs/Research/IMPLEMENTATION_TASK_MAPPING.md
  docs/Research/Integrating Teleport into Desktop Apps.md
Due: prettier --write

feat: implement p0/p1 enterprise infrastructure (deploy-scb9, deploy-482i)
  .context/Claude Pilot Audit and Enhancement Plan.md
  package-lock.json
  package.json
  src/main/index.ts
  src/main/ipc/handlers.ts
  src/main/services/embeddings/ContentChunker.ts
  src/main/services/streaming/index.ts
  src/main/services/streaming/messageport.ts
  src/main/services/workers/index.ts
  src/main/services/workers/pool.ts
  src/main/workers/batch.js
  src/main/workers/interactive.js
  src/preload/index.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat: migrate system and memory handlers to trpc controllers
  src/main/controllers/memory.controller.ts
  src/main/controllers/system.controller.ts
  src/main/trpc/router.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat: add embedding controller and 5-tier config resolver
  src/main/controllers/config.controller.ts
  src/main/controllers/embedding.controller.ts
  src/main/services/config/index.ts
  src/main/services/config/resolver.ts
  src/main/services/config/types.ts
  src/main/trpc/router.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: add comprehensive project state documentation
  docs/PROJECT_STATE_2026-01-17.md
Due: prettier --write

refactor: eliminate blocking shell calls for native async
  docs/QDRANT_PRODUCTION_GUIDE.md
  docs/Research/Electron Main Process Enterprise Patterns.md
  package-lock.json
  package.json
  src/main/controllers/memory.controller.ts
  src/main/controllers/system.controller.ts
  src/main/services/memory/qdrant.service.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat: add database connection lifecycle management
  src/main/index.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

refactor: eliminate 36 execsync blocking calls from handlers.ts
  docs/Research/Electron App Architecture Research Guide.md
  src/main/ipc/handlers.ts
  src/main/utils/process-utils.ts
  src/main/utils/spawn-async.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: add ipc controller migration research and testing patterns
  docs/Research/COMPARISON_IPC_APPROACHES.md
  docs/Research/ELECTRON_IPC_CONTROLLER_PATTERNS.md
  docs/Research/IMPLEMENTATION_GUIDE_IPC_REFACTOR.md
  docs/Research/IPC-CONTROLLER-MIGRATION-RESEARCH.md
  docs/Research/README_IPC_REFACTOR.md
  docs/TESTING_SPAWN_WRAPPER_BEST_PRACTICES.md
Due: prettier --write

feat: sprint 1 - security controllers migration (26 handlers)
  src/main/controllers/security/audit.controller.ts
  src/main/controllers/security/credentials.controller.ts
  src/main/controllers/security/index.ts
  src/main/controllers/security/watchdog.controller.ts
  src/main/ipc/handlers.ts
  src/main/trpc/router.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat: complete ipc controller migration (sprints 2-6)
  src/main/controllers/analysis/branches.controller.ts
  src/main/controllers/analysis/index.ts
  src/main/controllers/analysis/plans.controller.ts
  src/main/controllers/context/context.controller.ts
  src/main/controllers/context/index.ts
  src/main/controllers/integrations/index.ts
  src/main/controllers/integrations/ollama.controller.ts
  src/main/controllers/integrations/pgvector.controller.ts
  src/main/controllers/integrations/treesitter.controller.ts
  src/main/controllers/mcp/index.ts
  src/main/controllers/mcp/mcp.controller.ts
  src/main/controllers/mcp/proxy.controller.ts
  src/main/controllers/sessions/beads.controller.ts
  src/main/controllers/sessions/index.ts
  src/main/controllers/sessions/session.controller.ts
  src/main/controllers/sessions/transcript.controller.ts
  src/main/controllers/utilities/agents.controller.ts
  src/main/controllers/utilities/claude.controller.ts
  src/main/controllers/utilities/index.ts
  src/main/controllers/utilities/logs.controller.ts
  src/main/controllers/utilities/profiles.controller.ts
  src/main/controllers/utilities/services.controller.ts
  src/main/controllers/utilities/settings.controller.ts
  src/main/controllers/utilities/stream.controller.ts
  src/main/controllers/utilities/terminal.controller.ts
  src/main/controllers/utilities/update.controller.ts
  src/main/controllers/utilities/workers.controller.ts
  src/main/trpc/router.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: add comprehensive project state documentation
  .claude/CLAUDE.md
Due: prettier --write

feat: enterprise audit remediation phases 1-3
  docs/LEGACY_IPC_MIGRATION_STATUS.md
  package-lock.json
  package.json
  src/main/controllers/utilities/terminal.controller.ts
  src/main/ipc/handlers.ts
  src/main/services/watchdog.ts
  src/renderer/hooks/index.ts
  src/renderer/hooks/useClaudeStatus.ts
  src/renderer/hooks/useMCPServers.ts
  src/renderer/hooks/useMemorySearch.ts
  src/renderer/hooks/useSystemStatus.ts
  src/renderer/hooks/useTerminal.ts
  src/renderer/lib/trpc/react.tsx
  src/renderer/main.tsx
  src/renderer/stores/budget.ts
  src/renderer/stores/sessions.ts
  src/renderer/stores/settings.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat: complete frontend trpc migration (phase 2)
  src/main/controllers/analysis/plans.controller.ts
  src/main/controllers/context/context.controller.ts
  src/main/controllers/integrations/pgvector.controller.ts
  src/main/controllers/system.controller.ts
  src/main/controllers/utilities/agents.controller.ts
  src/renderer/components/agents/AgentCanvas.tsx
  src/renderer/components/beads/BeadsPanel.tsx
  src/renderer/components/chat/ChatInterface.tsx
  src/renderer/components/common/CommandPalette.tsx
  src/renderer/components/context/ContextDashboard.tsx
  src/renderer/components/context/PredictiveContextPanel.tsx
  src/renderer/components/context/SmartCompactionPanel.tsx
  src/renderer/components/logs/LogsViewer.tsx
  src/renderer/components/mcp/MCPManager.tsx
  src/renderer/components/memory/GlobalSearch.tsx
  src/renderer/components/memory/GraphViewer.tsx
  src/renderer/components/memory/MemoryBrowser.tsx
  src/renderer/components/memory/PgVectorPanel.tsx
  src/renderer/components/ollama/OllamaManager.tsx
  src/renderer/components/plans/PlanPanel.tsx
  src/renderer/components/profiles/ProfileManager.tsx
  src/renderer/components/projects/Projects.tsx
  src/renderer/components/services/ServicesManager.tsx
  src/renderer/components/sessions/TranscriptViewer.tsx
  src/renderer/components/settings/GlobalSettings.tsx
  src/renderer/components/settings/Settings.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

refactor: disable legacy ipc handlers (phase 3)
  src/main/index.ts
  src/main/services/log-stream.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: upgrade electron-trpc for esm compatibility
  electron.vite.config.ts
  package-lock.json
  package.json
  src/main/controllers/utilities/update.controller.ts
  src/preload/index.ts
  vitest.config.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat: add piscina worker stubs for thread pool initialization
  workers/batch.js
  workers/interactive.js
Due: none

fix: bundle electron-trpc in preload for sandbox compatibility
  electron.vite.config.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: configure superjson transformer for trpc v11 compatibility
  src/main/trpc/trpc.ts
  src/renderer/lib/trpc/client.ts
  src/renderer/lib/trpc/react.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat: add robust claude code detection and configurable paths
  src/main/controllers/utilities/claude.controller.ts
  src/main/controllers/utilities/settings.controller.ts
  src/renderer/components/settings/GlobalSettings.tsx
  src/shared/types.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: replace electron-trpc with custom ipc handlers for trpc v11
  src/main/trpc/index.ts
  src/main/trpc/ipcHandler.ts
  src/renderer/lib/trpc/client.ts
  src/renderer/lib/trpc/ipcLink.ts
  src/renderer/lib/trpc/react.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write
